<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href='../../../static/bootstrap.min.css' rel="stylesheet">
    <link href="../../../static/style.css" rel="stylesheet">
    <title>BOOK DETAIL</title>
</head>
<body class="home">
    <div class="container">
        <div style="width:100%; margin-top: 3em;margin-bottom: 2em;">
            <div class="alert alert-success"></div>
            <form action="/books/search" method="GET">
              <div class="form-group">
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                    <h1 class="h3 mb-0 text-gray-800">Book Detail</h1>
                    <div class="input-group rounded col-md-4">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
              </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card  book" style="width:100%">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="../../../static/images/bg.jpg" style="height: 250px; width: auto;  margin: 0 auto; display: block;" class="card-img-top" alt="">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#">
                                        <i class="fa fa-edit"></i>
                                    </a> &nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-danger" onclick="return confirm('Are you sure to Delete ?')" href="#">
                                        <i class="fa fa-trash-alt"></i>
                                    </a>
                                </div>
                                <div class="platforms mt-3 ml-3">
                                    <h4 class="font-weight-light" style="margin-bottom: 0;">Available On:</h4>
                                    <div style="font-size: 2.1em;">
                                        <i class="bi bi-xbox" style="color: green;"></i>
                                        <i class="bi bi-youtube ml-2" style="color: red;"></i>
                                        <i class="bi bi-windows ml-2" style="color: rgb(39, 144, 185);"></i>                                            <i class="bi bi-github ml-2" style=""></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2></h2>
                                <p class="card-text"></p>
                                <p class="card-text font-weight-light"><b>Book Name:</b></p>
                                <p class="card-text"><b>Description:</b>
                                    <span class="badge badge" style="margin-bottom: 5px;"></span>
                                </p>
                                <hr class="mt-5 mb-4">
                                <h4 class="font-weight-light">Book Owner(s)</h4>
                                <div class="row">
                                    <div class="owner col-md-3" style="padding-left: 0;">
                                        <img style="height: auto !important; display: block;" class="mr-auto ml-auto" src="../../../static/images/avatar.jpg">
                                        <p class="text-center"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bwrapper">
                    <div class="card-body">
                        <div class="text-center mb-4" style="margin-top: 21px !important;">
                            <i class="text-center mt-4 bi-book" style="font-size: 6em; "></i>
                        </div>
                        <p class="text-center mb-4">No Book Found!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
